
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="~/Content/cssObligatorio.css" rel="stylesheet" />
<link href="~/Content/datatables.css" rel="stylesheet" />
<br />
<br />
<br />

<h2>Alumno</h2>
<label>Selecciona la pampara</label>
<select id="drpSexo">
    <option value="1">uno</option>
    <option value="2" selected>dos</option>
    <option value="3">tres</option>
</select>
<br />
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Agregar</button>
<br />
<br />

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Alumno</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">ID Alumno: </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="txtIdAlumno" placeholder="ID del Alumno" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Nombre: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control obligatorio" id="txtNombre" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Apellido paterno: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control obligatorio" id="txtApaterno" placeholder="Apellido Paterno">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Apellido Materno: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control obligatorio" id="txtAmaterno" placeholder="Apellido Materno">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Sexo: </label>
                        <div class="col-sm-8">
                            <select id="sexoPopup"></select>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Telefono Padre: </label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" id="txtTelPadre" placeholder="Telefono del Padre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Telefono Madre: </label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" id="txtTelMadre" placeholder="Telefono de la Madre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">No. Hermanos: </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="txtNumHermanos" placeholder="Numero de Hermanos">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="agregar()" class="btn btn-success" id="btnAceptar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>

    </div>
</div>
<div id="table">

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Alumno.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
